
@{
    ViewBag.Title = "LogOff";
}

<h2>LogOff</h2>
<form name="form" method="post">
<input type="Submit" name="Sign Out" value="Uitloggen" />
</form>

<a href="/Contact/Index"><button name="Cancel" value="Annuleren"></button></a>